*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

*:focus-visible {
  outline: 2px solid rgb(180, 50, 50);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 3em;
}
.about__top {
  display: flex;
  justify-content: center;
  gap: 8em;
  width: 100%;
  height: 16.5em;
  position: relative;
}
.about__top--slogan {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  position: relative;
}
.about__top--slogan__small-text {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 3rem;
  color: rgb(45, 45, 45);
  padding-left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__top--slogan__small-text:hover {
  background-image: linear-gradient(90deg, rgb(180, 50, 50), white);
  background-size: 30%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__top--slogan__small-text li:nth-child(2) {
  margin-top: -0.3em;
  margin-bottom: -0.1em;
}
.about__top--slogan__run-man, .about__top--slogan__flag {
  font-size: 3.5em;
  color: rgb(45, 45, 45);
  position: absolute;
  top: 3.6em;
}
.about__top--slogan__run-man {
  left: 0.2em;
}
.about__top--slogan__flag {
  left: 7.9em;
}
.about__top--slogan__line {
  width: 30em;
  min-height: 0.5em;
  background-color: rgb(45, 45, 45);
  margin-top: 3em;
  position: relative;
}
.about__top--slogan__line--red::after {
  width: 10%;
  height: 100%;
  content: "";
  background-color: rgb(180, 50, 50);
  position: absolute;
  right: 0;
}
.about__top--slogan__big-text {
  width: 6em;
  font-size: 6rem;
  color: rgb(45, 45, 45);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__top--slogan__big-text:hover {
  background-image: linear-gradient(90deg, rgb(180, 50, 50), white);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__top--accordion {
  position: relative;
}
.about__top--accordion__1 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.95);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__1:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__1 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__2 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.75);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__2:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__2 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__3 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.55);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__3:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__3 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__4 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.35);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__4:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__4 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__5 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.15);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__5:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__5 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion .js-open-accordion:nth-child(1) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(1):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(1)::after {
  content: "Let us become your supplier of Industrial Controls and Special Purpose Equipment!";
}
.about__top--accordion .js-open-accordion:nth-child(2) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(2):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(2)::after {
  content: "Not familiar with our company? First contact with us is online? We would be pleased to hear from you! Let us know your needs and questions, we are more than happy to help.";
}
.about__top--accordion .js-open-accordion:nth-child(3) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(3):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(3)::after {
  content: "We can supply you with turn-key equipment or modify existing equipment, based on your needs and preferences.";
}
.about__top--accordion .js-open-accordion:nth-child(4) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(4):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(4)::after {
  content: "Service is a significant part of our business. We provide service for most common brands of PLC's, CNC's, and hard-wired equipment.";
}
.about__top--accordion .js-open-accordion:nth-child(5) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(5):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(5)::after {
  content: "We also have an in-house machine shop, which allows us to manufacture spare/consumable parts quickly, while maintaining high quality at low prices.";
}
.about__motto {
  width: 16em;
  text-align: right;
  color: rgb(45, 45, 45);
  position: relative;
}
.about__motto span {
  background: linear-gradient(90deg, rgb(180, 50, 50), white) no-repeat left bottom;
  background-size: 0% 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__motto span:hover {
  background-size: 100% 5px;
}
.about__dropdown {
  position: relative;
}
.about__dropdown--1 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.95);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--1:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--1 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--2 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.75);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--2:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--2 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--3 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.55);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--3:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--3 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--4 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.35);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--4:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--4 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--5 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.15);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--5:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--5 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown .js-open-dropdown:nth-child(1) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(1):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(1)::after {
  content: "If you are in the market to have equipment fabricated, or controls retrofitted on existing equipment, it would be our pleasure to assist you with your requirements.";
}
.about__dropdown .js-open-dropdown:nth-child(2) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(2):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(2)::after {
  content: "Our activities can be summarized by a plaque found at the train station in Kleinburg, Ontario. It has been accepted as the company motto.";
}
.about__dropdown .js-open-dropdown:nth-child(3) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(3):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(3)::after {
  content: "Our efforts in the fabrication of dedicated industrial equipment have increased our scope of customers to include almost all industrial sectors.";
}
.about__dropdown .js-open-dropdown:nth-child(4) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(4):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(4)::after {
  content: "Over the years, our customer base evolved to industries ranging from automotive to pharmaceutical.";
}
.about__dropdown .js-open-dropdown:nth-child(5) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(5):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(5)::after {
  content: "Milestone Automation Solutions Inc. was incorporated in 2000.";
}
.about__drawing-1 img, .about__drawing-2 img {
  opacity: 0.7;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.about__drawing-1 img:hover, .about__drawing-2 img:hover {
  opacity: 0.5;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__top {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 3em;
}
.projects__top--1 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.95);
  transition: all 0.2s ease-in-out;
}
.projects__top--1 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--1 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--1 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--1__indic button {
  position: relative;
  top: 1em;
}
.projects__top--2 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.75);
  transition: all 0.2s ease-in-out;
}
.projects__top--2 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--2 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--2 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--2__indic button {
  position: relative;
  top: 1em;
}
.projects__top--3 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.55);
  transition: all 0.2s ease-in-out;
}
.projects__top--3 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--3 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--3 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--3__indic button {
  position: relative;
  top: 1em;
}
.projects__top--4 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.35);
  transition: all 0.2s ease-in-out;
}
.projects__top--4 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--4 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--4 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--4__indic button {
  position: relative;
  top: 1em;
}
.projects__top--5 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.15);
  transition: all 0.2s ease-in-out;
}
.projects__top--5 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--5 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--5 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--5__indic button {
  position: relative;
  top: 1em;
}
.projects__bot {
  position: relative;
  top: 3em;
}
.projects__bot--6 {
  background-color: rgba(255, 255, 255, 0.95);
}
.projects__bot--6 video {
  -o-object-fit: fill;
     object-fit: fill;
}
.projects__bot--6 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__bot--6 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__bot--6 button {
  bottom: 1em;
}
.projects__bot--6__indic button {
  background-color: rgb(45, 45, 45) !important;
  position: relative;
  top: 0.8em;
}

.contact {
  display: flex;
  color: rgb(45, 45, 45);
  padding: 0.75rem;
  position: relative;
  top: 5em;
}
.contact__left, .contact__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1em;
}
.contact__left--phone, .contact__left--email, .contact__left--linkedin, .contact__left--address, .contact__right--phone, .contact__right--email, .contact__right--linkedin, .contact__right--address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.contact__left--phone i, .contact__left--email i, .contact__left--linkedin i, .contact__left--address i, .contact__right--phone i, .contact__right--email i, .contact__right--linkedin i, .contact__right--address i {
  font-size: 1.1rem;
  margin-right: 0.5em;
}
.contact__left--phone ul, .contact__left--email ul, .contact__left--linkedin ul, .contact__left--address ul, .contact__right--phone ul, .contact__right--email ul, .contact__right--linkedin ul, .contact__right--address ul {
  list-style-type: none;
  line-height: 1.25em;
  padding: 0;
  margin: 0 3em 0 0;
}
.contact__left--phone, .contact__left--linkedin, .contact__right--phone, .contact__right--linkedin {
  margin-right: 1.5em;
}
.contact__img {
  border: 0.3em solid white;
}

@media only screen and (max-width: 425px) {
  /* main.scss */
  .logo {
    max-height: 1.5em;
  }
  nav a {
    font-size: 0.5em;
  }
  footer {
    font-size: 0.5em;
  }
  /* _about.scss */
  .about {
    min-height: 45em;
  }
  .about__top--accordion__1 {
    width: 15em;
    font-size: 0.575em;
  }
  .about__top--accordion__2 {
    width: 15em;
    font-size: 0.575em;
  }
  .about__top--accordion__3 {
    width: 15em;
    font-size: 0.575em;
  }
  .about__top--accordion__4 {
    width: 15em;
    font-size: 0.575em;
  }
  .about__top--accordion__5 {
    width: 15em;
    font-size: 0.575em;
  }
  .about__motto {
    font-size: 0.5em;
  }
  .about__dropdown--1 {
    width: 8em;
    font-size: 0.575em;
  }
  .about__dropdown--2 {
    width: 8em;
    font-size: 0.575em;
  }
  .about__dropdown--3 {
    width: 8em;
    font-size: 0.575em;
  }
  .about__dropdown--4 {
    width: 8em;
    font-size: 0.575em;
  }
  .about__dropdown--5 {
    width: 8em;
    font-size: 0.575em;
  }
  .about__drawing-1 {
    width: 7.5em;
    height: 7.5em;
  }
  .about__drawing-2 {
    width: 12.5em;
    height: 12.5em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 10em;
    height: 8.5em;
  }
  .projects__top--1 img {
    height: 7.5em;
  }
  .projects__top--1 h5 {
    font-size: 0.9em;
    bottom: 4.25em;
    left: 4.5em;
  }
  .projects__top--1 p {
    font-size: 0.7em;
    top: 2em;
    right: 1.375em;
  }
  .projects__top--2 {
    width: 10em;
    height: 8.5em;
  }
  .projects__top--2 img {
    height: 7.5em;
  }
  .projects__top--2 h5 {
    font-size: 0.9em;
    bottom: 4.25em;
    left: 4.5em;
  }
  .projects__top--2 p {
    font-size: 0.7em;
    top: 2em;
    right: 1.375em;
  }
  .projects__top--3 {
    width: 10em;
    height: 8.5em;
  }
  .projects__top--3 img {
    height: 7.5em;
  }
  .projects__top--3 h5 {
    font-size: 0.9em;
    bottom: 4.25em;
    left: 4.5em;
  }
  .projects__top--3 p {
    font-size: 0.7em;
    top: 2em;
    right: 1.375em;
  }
  .projects__top--4 {
    width: 10em;
    height: 8.5em;
  }
  .projects__top--4 img {
    height: 7.5em;
  }
  .projects__top--4 h5 {
    font-size: 0.9em;
    bottom: 4.25em;
    left: 4.5em;
  }
  .projects__top--4 p {
    font-size: 0.7em;
    top: 2em;
    right: 1.375em;
  }
  .projects__top--5 {
    width: 10em;
    height: 8.5em;
  }
  .projects__top--5 img {
    height: 7.5em;
  }
  .projects__top--5 h5 {
    font-size: 0.9em;
    bottom: 4.25em;
    left: 4.5em;
  }
  .projects__top--5 p {
    font-size: 0.7em;
    top: 2em;
    right: 1.375em;
  }
  .projects__bot {
    width: 16em;
  }
  .projects__bot--6 {
    height: 11em;
  }
  .projects__bot--6 video {
    width: 16em;
    height: 9em;
  }
  .projects__bot h5 {
    font-size: 1.25em;
    bottom: 6em;
    left: 5.5em;
  }
  .projects__bot p {
    font-size: 0.8em;
    top: 1.5em;
    left: 1.25em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.5em;
  }
  .contact i {
    font-size: 1em;
  }
  /* main.scss */
  header {
    position: relative !important;
  }
  .logo {
    margin-left: 1rem;
  }
  nav {
    visibility: hidden;
  }
  .burger-btn {
    visibility: visible;
  }
  /* _about.scss */
  .about {
    top: 2em;
  }
  .about__top {
    margin-left: -2.5em;
  }
  .about__top--slogan {
    margin-right: -3em;
    top: -5.75em;
    transform: scale(0.275);
  }
  .about__motto {
    top: -40em;
    right: 0em;
  }
  .about__dropdown--1 {
    top: -11.75em;
    right: -13em;
  }
  .about__dropdown--2 {
    top: -5.5em;
    right: -9em;
  }
  .about__dropdown--3 {
    top: 0.75em;
    right: -5em;
  }
  .about__dropdown--4 {
    top: 7em;
    right: -1em;
  }
  .about__dropdown--5 {
    top: 13.25em;
    right: 3em;
  }
  .about__drawing-1 img {
    bottom: 8em;
    right: 7em;
  }
  .about__drawing-2 img {
    bottom: -5em;
    left: -2em;
  }
  /* _contact.scss */
  .contact {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .contact__img {
    visibility: hidden;
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
  /* main.scss */
  .logo {
    max-height: 1.8em;
  }
  nav a {
    font-size: 0.6em;
  }
  footer {
    font-size: 0.6em;
  }
  /* _about.scss */
  .about {
    min-height: 54em;
  }
  .about__top--accordion__1 {
    width: 18em;
    font-size: 0.69em;
  }
  .about__top--accordion__2 {
    width: 18em;
    font-size: 0.69em;
  }
  .about__top--accordion__3 {
    width: 18em;
    font-size: 0.69em;
  }
  .about__top--accordion__4 {
    width: 18em;
    font-size: 0.69em;
  }
  .about__top--accordion__5 {
    width: 18em;
    font-size: 0.69em;
  }
  .about__motto {
    font-size: 0.6em;
  }
  .about__dropdown--1 {
    width: 9.6em;
    font-size: 0.69em;
  }
  .about__dropdown--2 {
    width: 9.6em;
    font-size: 0.69em;
  }
  .about__dropdown--3 {
    width: 9.6em;
    font-size: 0.69em;
  }
  .about__dropdown--4 {
    width: 9.6em;
    font-size: 0.69em;
  }
  .about__dropdown--5 {
    width: 9.6em;
    font-size: 0.69em;
  }
  .about__drawing-1 {
    width: 9em;
    height: 9em;
  }
  .about__drawing-2 {
    width: 15em;
    height: 15em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 12em;
    height: 10.2em;
  }
  .projects__top--1 img {
    height: 9em;
  }
  .projects__top--1 h5 {
    font-size: 1.08em;
    bottom: 5.1em;
    left: 5.4em;
  }
  .projects__top--1 p {
    font-size: 0.84em;
    top: 2.4em;
    right: 1.65em;
  }
  .projects__top--2 {
    width: 12em;
    height: 10.2em;
  }
  .projects__top--2 img {
    height: 9em;
  }
  .projects__top--2 h5 {
    font-size: 1.08em;
    bottom: 5.1em;
    left: 5.4em;
  }
  .projects__top--2 p {
    font-size: 0.84em;
    top: 2.4em;
    right: 1.65em;
  }
  .projects__top--3 {
    width: 12em;
    height: 10.2em;
  }
  .projects__top--3 img {
    height: 9em;
  }
  .projects__top--3 h5 {
    font-size: 1.08em;
    bottom: 5.1em;
    left: 5.4em;
  }
  .projects__top--3 p {
    font-size: 0.84em;
    top: 2.4em;
    right: 1.65em;
  }
  .projects__top--4 {
    width: 12em;
    height: 10.2em;
  }
  .projects__top--4 img {
    height: 9em;
  }
  .projects__top--4 h5 {
    font-size: 1.08em;
    bottom: 5.1em;
    left: 5.4em;
  }
  .projects__top--4 p {
    font-size: 0.84em;
    top: 2.4em;
    right: 1.65em;
  }
  .projects__top--5 {
    width: 12em;
    height: 10.2em;
  }
  .projects__top--5 img {
    height: 9em;
  }
  .projects__top--5 h5 {
    font-size: 1.08em;
    bottom: 5.1em;
    left: 5.4em;
  }
  .projects__top--5 p {
    font-size: 0.84em;
    top: 2.4em;
    right: 1.65em;
  }
  .projects__bot {
    width: 19.2em;
  }
  .projects__bot--6 {
    height: 13.2em;
  }
  .projects__bot--6 video {
    width: 19.2em;
    height: 10.8em;
  }
  .projects__bot h5 {
    font-size: 1.5em;
    bottom: 7.2em;
    left: 6.6em;
  }
  .projects__bot p {
    font-size: 0.96em;
    top: 1.8em;
    left: 1.5em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.6em;
  }
  .contact i {
    font-size: 1.2em;
  }
  /* main.scss */
  header {
    position: relative !important;
  }
  .logo {
    margin-left: 1.5rem;
  }
  nav {
    visibility: hidden;
  }
  .burger-btn {
    visibility: visible;
  }
  /* _about.scss */
  .about__top {
    margin-left: -4em;
  }
  .about__top--slogan {
    margin-right: -1.5em;
    top: -5em;
    transform: scale(0.35);
  }
  .about__top--slogan__big-text {
    width: 5.5em;
  }
  .about__motto {
    top: -30em;
    right: 0em;
  }
  .about__dropdown--1 {
    top: -8.75em;
    right: -19em;
  }
  .about__dropdown--2 {
    top: -2.5em;
    right: -13em;
  }
  .about__dropdown--3 {
    top: 3.75em;
    right: -7em;
  }
  .about__dropdown--4 {
    top: 10em;
    right: -1em;
  }
  .about__dropdown--5 {
    top: 16.25em;
    right: 5em;
  }
  .about__drawing-1 img {
    bottom: 5em;
    right: 7em;
  }
  .about__drawing-2 img {
    bottom: -2em;
    left: -1em;
  }
  /* _contact.scss */
  .contact__img {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* main.scss */
  .logo {
    max-height: 2.1em;
  }
  nav a {
    font-size: 0.7em;
  }
  footer {
    font-size: 0.7em;
  }
  /* _about.scss */
  .about {
    min-height: 63em;
  }
  .about__top--accordion__1 {
    width: 21em;
    font-size: 0.805em;
  }
  .about__top--accordion__2 {
    width: 21em;
    font-size: 0.805em;
  }
  .about__top--accordion__3 {
    width: 21em;
    font-size: 0.805em;
  }
  .about__top--accordion__4 {
    width: 21em;
    font-size: 0.805em;
  }
  .about__top--accordion__5 {
    width: 21em;
    font-size: 0.805em;
  }
  .about__motto {
    font-size: 0.7em;
  }
  .about__dropdown--1 {
    width: 11.2em;
    font-size: 0.805em;
  }
  .about__dropdown--2 {
    width: 11.2em;
    font-size: 0.805em;
  }
  .about__dropdown--3 {
    width: 11.2em;
    font-size: 0.805em;
  }
  .about__dropdown--4 {
    width: 11.2em;
    font-size: 0.805em;
  }
  .about__dropdown--5 {
    width: 11.2em;
    font-size: 0.805em;
  }
  .about__drawing-1 {
    width: 10.5em;
    height: 10.5em;
  }
  .about__drawing-2 {
    width: 17.5em;
    height: 17.5em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 14em;
    height: 11.9em;
  }
  .projects__top--1 img {
    height: 10.5em;
  }
  .projects__top--1 h5 {
    font-size: 1.26em;
    bottom: 5.95em;
    left: 6.3em;
  }
  .projects__top--1 p {
    font-size: 0.98em;
    top: 2.8em;
    right: 1.925em;
  }
  .projects__top--2 {
    width: 14em;
    height: 11.9em;
  }
  .projects__top--2 img {
    height: 10.5em;
  }
  .projects__top--2 h5 {
    font-size: 1.26em;
    bottom: 5.95em;
    left: 6.3em;
  }
  .projects__top--2 p {
    font-size: 0.98em;
    top: 2.8em;
    right: 1.925em;
  }
  .projects__top--3 {
    width: 14em;
    height: 11.9em;
  }
  .projects__top--3 img {
    height: 10.5em;
  }
  .projects__top--3 h5 {
    font-size: 1.26em;
    bottom: 5.95em;
    left: 6.3em;
  }
  .projects__top--3 p {
    font-size: 0.98em;
    top: 2.8em;
    right: 1.925em;
  }
  .projects__top--4 {
    width: 14em;
    height: 11.9em;
  }
  .projects__top--4 img {
    height: 10.5em;
  }
  .projects__top--4 h5 {
    font-size: 1.26em;
    bottom: 5.95em;
    left: 6.3em;
  }
  .projects__top--4 p {
    font-size: 0.98em;
    top: 2.8em;
    right: 1.925em;
  }
  .projects__top--5 {
    width: 14em;
    height: 11.9em;
  }
  .projects__top--5 img {
    height: 10.5em;
  }
  .projects__top--5 h5 {
    font-size: 1.26em;
    bottom: 5.95em;
    left: 6.3em;
  }
  .projects__top--5 p {
    font-size: 0.98em;
    top: 2.8em;
    right: 1.925em;
  }
  .projects__bot {
    width: 22.4em;
  }
  .projects__bot--6 {
    height: 15.4em;
  }
  .projects__bot--6 video {
    width: 22.4em;
    height: 12.6em;
  }
  .projects__bot h5 {
    font-size: 1.75em;
    bottom: 8.4em;
    left: 7.7em;
  }
  .projects__bot p {
    font-size: 1.12em;
    top: 2.1em;
    left: 1.75em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.7em;
  }
  .contact i {
    font-size: 1.4em;
  }
  /* main.scss */
  .logo {
    margin-left: 1.75rem;
  }
  .burger-btn {
    visibility: hidden;
  }
  /* _about.scss */
  .about__top--slogan {
    top: -2em;
    transform: scale(0.8);
  }
  .about__motto {
    top: -14em;
    right: -1em;
  }
  .about__dropdown--1 {
    top: -8.75em;
    right: -27em;
  }
  .about__dropdown--2 {
    top: -2.5em;
    right: -19em;
  }
  .about__dropdown--3 {
    top: 3.75em;
    right: -11em;
  }
  .about__dropdown--4 {
    top: 10em;
    right: -3em;
  }
  .about__dropdown--5 {
    top: 16.25em;
    right: 5em;
  }
  .about__drawing-1 img {
    top: 13em;
    left: -2em;
  }
  .about__drawing-2 img {
    top: 9.5em;
    left: 0em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* main.scss */
  .logo {
    max-height: 2.4em;
  }
  nav a {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
  /* _about.scss */
  .about {
    min-height: 72em;
  }
  .about__top--accordion__1 {
    width: 24em;
    font-size: 0.92em;
  }
  .about__top--accordion__2 {
    width: 24em;
    font-size: 0.92em;
  }
  .about__top--accordion__3 {
    width: 24em;
    font-size: 0.92em;
  }
  .about__top--accordion__4 {
    width: 24em;
    font-size: 0.92em;
  }
  .about__top--accordion__5 {
    width: 24em;
    font-size: 0.92em;
  }
  .about__motto {
    font-size: 0.8em;
  }
  .about__dropdown--1 {
    width: 12.8em;
    font-size: 0.92em;
  }
  .about__dropdown--2 {
    width: 12.8em;
    font-size: 0.92em;
  }
  .about__dropdown--3 {
    width: 12.8em;
    font-size: 0.92em;
  }
  .about__dropdown--4 {
    width: 12.8em;
    font-size: 0.92em;
  }
  .about__dropdown--5 {
    width: 12.8em;
    font-size: 0.92em;
  }
  .about__drawing-1 {
    width: 12em;
    height: 12em;
  }
  .about__drawing-2 {
    width: 20em;
    height: 20em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 16em;
    height: 13.6em;
  }
  .projects__top--1 img {
    height: 12em;
  }
  .projects__top--1 h5 {
    font-size: 1.44em;
    bottom: 6.8em;
    left: 7.2em;
  }
  .projects__top--1 p {
    font-size: 1.12em;
    top: 3.2em;
    right: 2.2em;
  }
  .projects__top--2 {
    width: 16em;
    height: 13.6em;
  }
  .projects__top--2 img {
    height: 12em;
  }
  .projects__top--2 h5 {
    font-size: 1.44em;
    bottom: 6.8em;
    left: 7.2em;
  }
  .projects__top--2 p {
    font-size: 1.12em;
    top: 3.2em;
    right: 2.2em;
  }
  .projects__top--3 {
    width: 16em;
    height: 13.6em;
  }
  .projects__top--3 img {
    height: 12em;
  }
  .projects__top--3 h5 {
    font-size: 1.44em;
    bottom: 6.8em;
    left: 7.2em;
  }
  .projects__top--3 p {
    font-size: 1.12em;
    top: 3.2em;
    right: 2.2em;
  }
  .projects__top--4 {
    width: 16em;
    height: 13.6em;
  }
  .projects__top--4 img {
    height: 12em;
  }
  .projects__top--4 h5 {
    font-size: 1.44em;
    bottom: 6.8em;
    left: 7.2em;
  }
  .projects__top--4 p {
    font-size: 1.12em;
    top: 3.2em;
    right: 2.2em;
  }
  .projects__top--5 {
    width: 16em;
    height: 13.6em;
  }
  .projects__top--5 img {
    height: 12em;
  }
  .projects__top--5 h5 {
    font-size: 1.44em;
    bottom: 6.8em;
    left: 7.2em;
  }
  .projects__top--5 p {
    font-size: 1.12em;
    top: 3.2em;
    right: 2.2em;
  }
  .projects__bot {
    width: 25.6em;
  }
  .projects__bot--6 {
    height: 17.6em;
  }
  .projects__bot--6 video {
    width: 25.6em;
    height: 14.4em;
  }
  .projects__bot h5 {
    font-size: 2em;
    bottom: 9.6em;
    left: 8.8em;
  }
  .projects__bot p {
    font-size: 1.28em;
    top: 2.4em;
    left: 2em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.8em;
  }
  .contact i {
    font-size: 1.6em;
  }
  /* main.scss */
  .logo {
    margin-left: 3rem;
  }
  .burger-btn {
    visibility: hidden;
  }
  /* _about.scss */
  .about__top--slogan {
    transform: scale(0.8);
  }
  .about__motto {
    top: -10.5em;
    right: 2em;
  }
  .about__dropdown--1 {
    top: -5.75em;
    right: -32em;
  }
  .about__dropdown--2 {
    top: 0.5em;
    right: -22em;
  }
  .about__dropdown--3 {
    top: 6.75em;
    right: -12em;
  }
  .about__dropdown--4 {
    top: 13em;
    right: -2em;
  }
  .about__dropdown--5 {
    top: 19.25em;
    right: 8em;
  }
  .about__drawing-1 img {
    top: 18em;
    left: -1em;
  }
  .about__drawing-2 img {
    top: 12.5em;
    left: 2em;
  }
}
@media only screen and (min-width: 1440px) {
  /* main.scss */
  .logo {
    max-height: 2.7em;
  }
  nav a {
    font-size: 0.9em;
  }
  footer {
    font-size: 0.9em;
  }
  /* _about.scss */
  .about {
    min-height: 81em;
  }
  .about__top--accordion__1 {
    width: 27em;
    font-size: 1.035em;
  }
  .about__top--accordion__2 {
    width: 27em;
    font-size: 1.035em;
  }
  .about__top--accordion__3 {
    width: 27em;
    font-size: 1.035em;
  }
  .about__top--accordion__4 {
    width: 27em;
    font-size: 1.035em;
  }
  .about__top--accordion__5 {
    width: 27em;
    font-size: 1.035em;
  }
  .about__motto {
    font-size: 0.9em;
  }
  .about__dropdown--1 {
    width: 14.4em;
    font-size: 1.035em;
  }
  .about__dropdown--2 {
    width: 14.4em;
    font-size: 1.035em;
  }
  .about__dropdown--3 {
    width: 14.4em;
    font-size: 1.035em;
  }
  .about__dropdown--4 {
    width: 14.4em;
    font-size: 1.035em;
  }
  .about__dropdown--5 {
    width: 14.4em;
    font-size: 1.035em;
  }
  .about__drawing-1 {
    width: 13.5em;
    height: 13.5em;
  }
  .about__drawing-2 {
    width: 22.5em;
    height: 22.5em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 18em;
    height: 15.3em;
  }
  .projects__top--1 img {
    height: 13.5em;
  }
  .projects__top--1 h5 {
    font-size: 1.62em;
    bottom: 7.65em;
    left: 8.1em;
  }
  .projects__top--1 p {
    font-size: 1.26em;
    top: 3.6em;
    right: 2.475em;
  }
  .projects__top--2 {
    width: 18em;
    height: 15.3em;
  }
  .projects__top--2 img {
    height: 13.5em;
  }
  .projects__top--2 h5 {
    font-size: 1.62em;
    bottom: 7.65em;
    left: 8.1em;
  }
  .projects__top--2 p {
    font-size: 1.26em;
    top: 3.6em;
    right: 2.475em;
  }
  .projects__top--3 {
    width: 18em;
    height: 15.3em;
  }
  .projects__top--3 img {
    height: 13.5em;
  }
  .projects__top--3 h5 {
    font-size: 1.62em;
    bottom: 7.65em;
    left: 8.1em;
  }
  .projects__top--3 p {
    font-size: 1.26em;
    top: 3.6em;
    right: 2.475em;
  }
  .projects__top--4 {
    width: 18em;
    height: 15.3em;
  }
  .projects__top--4 img {
    height: 13.5em;
  }
  .projects__top--4 h5 {
    font-size: 1.62em;
    bottom: 7.65em;
    left: 8.1em;
  }
  .projects__top--4 p {
    font-size: 1.26em;
    top: 3.6em;
    right: 2.475em;
  }
  .projects__top--5 {
    width: 18em;
    height: 15.3em;
  }
  .projects__top--5 img {
    height: 13.5em;
  }
  .projects__top--5 h5 {
    font-size: 1.62em;
    bottom: 7.65em;
    left: 8.1em;
  }
  .projects__top--5 p {
    font-size: 1.26em;
    top: 3.6em;
    right: 2.475em;
  }
  .projects__bot {
    width: 28.8em;
  }
  .projects__bot--6 {
    height: 19.8em;
  }
  .projects__bot--6 video {
    width: 28.8em;
    height: 16.2em;
  }
  .projects__bot h5 {
    font-size: 2.25em;
    bottom: 10.8em;
    left: 9.9em;
  }
  .projects__bot p {
    font-size: 1.44em;
    top: 2.7em;
    left: 2.25em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.9em;
  }
  .contact i {
    font-size: 1.8em;
  }
  /* main.scss */
  .logo {
    margin-left: 3rem;
  }
  .burger-btn {
    visibility: hidden;
  }
  /* _about.scss */
  .about__top--slogan {
    transform: scale(1);
  }
  .about__motto {
    top: -10em;
    right: -1em;
  }
  .about__dropdown--1 {
    top: -8.75em;
    right: -46.5em;
  }
  .about__dropdown--2 {
    top: -2.5em;
    right: -34em;
  }
  .about__dropdown--3 {
    top: 3.75em;
    right: -21.5em;
  }
  .about__dropdown--4 {
    top: 10em;
    right: -9em;
  }
  .about__dropdown--5 {
    top: 16.25em;
    right: 3.5em;
  }
  .about__drawing-1 img {
    top: 25em;
    left: -10em;
  }
  .about__drawing-2 img {
    top: 17em;
    left: -2em;
  }
}
body {
  font-family: Anybody, Verdana, Tahoma, sans-serif;
}
body .bkgd {
  background: linear-gradient(to top, white, rgba(180, 50, 50, 0.2)), url(../img/bkgd/eng-draw.png);
  background-size: contain;
  filter: grayscale(50%);
  opacity: 0.3;
  z-index: -1;
  position: fixed;
  inset: 0;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0.8rem;
}
body header .logo {
  max-width: 30%;
}
body header nav {
  display: flex;
  gap: 2.5rem;
  margin-right: 3rem;
}
body header nav a {
  color: rgb(45, 45, 45);
  transition: all 0.2s ease-in-out;
}
body header nav a:hover {
  color: rgb(180, 50, 50);
}
body header nav a:active {
  opacity: 0.5;
}
body header nav a i {
  margin-right: 0.3em;
}
body header nav.js-open-nav {
  display: flex;
  flex-flow: column wrap;
  gap: 0.7rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  position: fixed;
  top: 0.5rem;
  right: 0;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
body header .burger-btn {
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(45, 45, 45);
  padding: 0.2rem;
  position: fixed;
  top: 0.85rem;
  right: 1.25rem;
}
body header.js-header-bkgd {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.3rem;
  top: 0;
  transition: all 0.2s ease-in-out;
}
body footer {
  text-align: center;
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 0.5rem;
  margin-top: 8em;
  position: absolute;
  right: 0;
  left: 0;
}/*# sourceMappingURL=main.css.map */