*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

*:focus-visible {
  outline: 2px solid rgb(180, 50, 50);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 3em;
}
.about__top {
  display: flex;
  justify-content: center;
  gap: 8em;
  width: 100%;
  height: 16.5em;
  position: relative;
}
.about__top--slogan {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  position: relative;
}
.about__top--slogan__small-text {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 3rem;
  color: rgb(45, 45, 45);
  padding-left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__top--slogan__small-text:hover {
  background-image: linear-gradient(90deg, rgb(180, 50, 50), white);
  background-size: 30%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__top--slogan__small-text li:nth-child(2) {
  margin-top: -0.3em;
  margin-bottom: -0.1em;
}
.about__top--slogan__run-man, .about__top--slogan__flag {
  font-size: 3.5em;
  color: rgb(45, 45, 45);
  position: absolute;
  top: 3.6em;
}
.about__top--slogan__run-man {
  left: 0.2em;
}
.about__top--slogan__flag {
  left: 7.9em;
}
.about__top--slogan__line {
  width: 30em;
  min-height: 0.5em;
  background-color: rgb(45, 45, 45);
  margin-top: 3em;
  position: relative;
}
.about__top--slogan__line--red::after {
  width: 10%;
  height: 100%;
  content: "";
  background-color: rgb(180, 50, 50);
  position: absolute;
  right: 0;
}
.about__top--slogan__big-text {
  width: 6em;
  font-size: 6rem;
  color: rgb(45, 45, 45);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__top--slogan__big-text:hover {
  background-image: linear-gradient(90deg, rgb(180, 50, 50), white);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__top--accordion {
  position: relative;
}
.about__top--accordion__1 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.95);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__1:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__1 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__2 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.75);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__2:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__2 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__3 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.55);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__3:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__3 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__4 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.35);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__4:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__4 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion__5 {
  color: rgb(45, 45, 45);
  padding: 1em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.15);
  transition: all 0.2s ease-in-out;
}
.about__top--accordion__5:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__top--accordion__5 i {
  color: white;
  margin: 0 0.75em;
}
.about__top--accordion .js-open-accordion:nth-child(1) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(1):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(1)::after {
  content: "Let us become your supplier of Industrial Controls and Special Purpose Equipment!";
}
.about__top--accordion .js-open-accordion:nth-child(2) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(2):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(2)::after {
  content: "Not familiar with our company? First contact with us is online? We would be pleased to hear from you! Let us know your needs and questions, we are more than happy to help.";
}
.about__top--accordion .js-open-accordion:nth-child(3) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(3):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(3)::after {
  content: "We can supply you with turn-key equipment or modify existing equipment, based on your needs and preferences.";
}
.about__top--accordion .js-open-accordion:nth-child(4) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(4):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(4)::after {
  content: "Service is a significant part of our business. We provide service for most common brands of PLC's, CNC's, and hard-wired equipment.";
}
.about__top--accordion .js-open-accordion:nth-child(5) {
  padding-bottom: 1.5em;
}
.about__top--accordion .js-open-accordion:nth-child(5):hover {
  filter: none;
}
.about__top--accordion .js-open-accordion:nth-child(5)::after {
  content: "We also have an in-house machine shop, which allows us to manufacture spare/consumable parts quickly, while maintaining high quality at low prices.";
}
.about__motto {
  width: 16em;
  text-align: right;
  color: rgb(45, 45, 45);
  position: relative;
}
.about__motto span {
  background: linear-gradient(90deg, rgb(180, 50, 50), white) no-repeat left bottom;
  background-size: 0% 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__motto span:hover {
  background-size: 100% 5px;
}
.about__dropdown {
  position: relative;
}
.about__dropdown--1 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.95);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--1:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--1 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--2 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.75);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--2:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--2 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--3 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.55);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--3:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--3 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--4 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.35);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--4:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--4 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown--5 {
  color: rgb(45, 45, 45);
  padding: 0.8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background-color: rgba(180, 50, 50, 0.15);
  transition: all 0.2s ease-in-out;
}
.about__dropdown--5:hover {
  filter: grayscale(20%) saturate(50%);
}
.about__dropdown--5 i {
  color: white;
  margin: 0 0.75em;
}
.about__dropdown .js-open-dropdown:nth-child(1) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(1):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(1)::after {
  content: "If you are in the market to have equipment fabricated, or controls retrofitted on existing equipment, it would be our pleasure to assist you with your requirements.";
}
.about__dropdown .js-open-dropdown:nth-child(2) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(2):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(2)::after {
  content: "Our activities can be summarized by a plaque found at the train station in Kleinburg, Ontario. It has been accepted as the company motto.";
}
.about__dropdown .js-open-dropdown:nth-child(3) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(3):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(3)::after {
  content: "Our efforts in the fabrication of dedicated industrial equipment have increased our scope of customers to include almost all industrial sectors.";
}
.about__dropdown .js-open-dropdown:nth-child(4) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(4):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(4)::after {
  content: "Over the years, our customer base evolved to industries ranging from automotive to pharmaceutical.";
}
.about__dropdown .js-open-dropdown:nth-child(5) {
  width: 13em;
  padding-bottom: 1.5em;
  z-index: 5;
}
.about__dropdown .js-open-dropdown:nth-child(5):hover {
  filter: none;
}
.about__dropdown .js-open-dropdown:nth-child(5)::after {
  content: "Milestone Automation Solutions Inc. was incorporated in 2000.";
}
.about__drawing-1 img, .about__drawing-2 img {
  opacity: 0.7;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.about__drawing-1 img:hover, .about__drawing-2 img:hover {
  opacity: 0.5;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3em;
}
.projects__top--1 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.95);
  transition: all 0.2s ease-in-out;
}
.projects__top--1 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--1 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--1 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--1__indic button {
  position: relative;
  top: 1em;
}
.projects__top--2 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.75);
  transition: all 0.2s ease-in-out;
}
.projects__top--2 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--2 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--2 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--2__indic button {
  position: relative;
  top: 1em;
}
.projects__top--3 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.55);
  transition: all 0.2s ease-in-out;
}
.projects__top--3 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--3 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--3 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--3__indic button {
  position: relative;
  top: 1em;
}
.projects__top--4 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.35);
  transition: all 0.2s ease-in-out;
}
.projects__top--4 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--4 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--4 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--4__indic button {
  position: relative;
  top: 1em;
}
.projects__top--5 {
  position: relative;
  background-color: rgba(180, 50, 50, 0.15);
  transition: all 0.2s ease-in-out;
}
.projects__top--5 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__top--5 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--5 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__top--5__indic button {
  position: relative;
  top: 1em;
}
.projects__bot {
  position: relative;
  top: 3em;
}
.projects__bot--6 {
  background-color: rgba(255, 255, 255, 0.95);
}
.projects__bot--6 video {
  -o-object-fit: fill;
     object-fit: fill;
}
.projects__bot--6 h5 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__bot--6 p {
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(45, 45, 45);
  padding: 0.3em;
  position: relative;
}
.projects__bot--6 button {
  bottom: 1em;
}
.projects__bot--6__indic button {
  background-color: rgb(45, 45, 45) !important;
  position: relative;
  top: 0.6em;
}

.contact {
  display: flex;
  color: rgb(45, 45, 45);
  padding: 0.75rem;
  position: relative;
  top: 5em;
}
.contact__left, .contact__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1em;
}
.contact__left--phone, .contact__left--email, .contact__left--linkedin, .contact__left--address, .contact__right--phone, .contact__right--email, .contact__right--linkedin, .contact__right--address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.contact__left--phone i, .contact__left--email i, .contact__left--linkedin i, .contact__left--address i, .contact__right--phone i, .contact__right--email i, .contact__right--linkedin i, .contact__right--address i {
  font-size: 1.1rem;
  margin-right: 0.5em;
}
.contact__left--phone ul, .contact__left--email ul, .contact__left--linkedin ul, .contact__left--address ul, .contact__right--phone ul, .contact__right--email ul, .contact__right--linkedin ul, .contact__right--address ul {
  list-style-type: none;
  line-height: 1.25em;
  padding: 0;
  margin: 0 3em 0 0;
}
.contact__left--phone, .contact__left--linkedin, .contact__right--phone, .contact__right--linkedin {
  margin-right: 1.5em;
}
.contact__img {
  border: 0.3em solid white;
}

@media only screen and (max-width: 425px) {
  /* main.scss */
  header {
    position: relative !important;
  }
  .logo {
    max-height: 1.5rem;
    margin-left: 1rem;
  }
  nav {
    visibility: hidden;
  }
  nav a {
    font-size: 0.5rem;
  }
  .burger-btn {
    visibility: visible;
  }
  footer {
    font-size: 0.5rem;
  }
  /* _about.scss */
  .about {
    min-height: 30rem;
    top: 2em;
  }
  .about__top {
    margin-left: -2em;
  }
  .about__top--slogan {
    margin-right: -2em;
    top: -5em;
    transform: scale(0.3);
  }
  .about__top--slogan__big-text {
    width: 5.5em;
  }
  .about__top--accordion__1 {
    width: 15em;
    font-size: 0.5rem;
  }
  .about__top--accordion__2 {
    width: 15em;
    font-size: 0.5rem;
  }
  .about__top--accordion__3 {
    width: 15em;
    font-size: 0.5rem;
  }
  .about__top--accordion__4 {
    width: 15em;
    font-size: 0.5rem;
  }
  .about__top--accordion__5 {
    width: 15em;
    font-size: 0.5rem;
  }
  .about__motto {
    font-size: 0.4rem;
    top: -28em;
    right: 0em;
  }
  .about__dropdown--1 {
    width: 10em;
    font-size: 0.4rem;
    top: -18.75em;
    right: -22em;
  }
  .about__dropdown--2 {
    width: 10em;
    font-size: 0.4rem;
    top: -12.5em;
    right: -16em;
  }
  .about__dropdown--3 {
    width: 10em;
    font-size: 0.4rem;
    top: -6.25em;
    right: -10em;
  }
  .about__dropdown--4 {
    width: 10em;
    font-size: 0.4rem;
    top: 0em;
    right: -4em;
  }
  .about__dropdown--5 {
    width: 10em;
    font-size: 0.4rem;
    top: 6.25em;
    right: 2em;
  }
  .about__drawing-1 img {
    width: 4em;
    height: 4em;
    bottom: 4.5em;
    right: 6em;
  }
  .about__drawing-2 img {
    width: 6em;
    height: 6em;
    bottom: 0em;
    left: -1em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 15em;
    height: 10em;
  }
  .projects__top--1 img {
    height: 8.63em;
  }
  .projects__top--1 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--1 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--2 {
    width: 15em;
    height: 10em;
  }
  .projects__top--2 img {
    height: 8.63em;
  }
  .projects__top--2 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--2 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--3 {
    width: 15em;
    height: 10em;
  }
  .projects__top--3 img {
    height: 8.63em;
  }
  .projects__top--3 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--3 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--4 {
    width: 15em;
    height: 10em;
  }
  .projects__top--4 img {
    height: 8.63em;
  }
  .projects__top--4 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--4 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--5 {
    width: 15em;
    height: 10em;
  }
  .projects__top--5 img {
    height: 8.63em;
  }
  .projects__top--5 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--5 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__bot {
    width: 15em;
  }
  .projects__bot--6 {
    height: 10em;
  }
  .projects__bot--6 video {
    width: 15em;
    height: 8em;
  }
  .projects__bot--6 h5 {
    font-size: 1.25rem;
    bottom: 12em;
    left: 11em;
  }
  .projects__bot--6 p {
    font-size: 0.8rem;
    top: 3em;
    left: 2.5em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.4rem;
    margin-top: 1em;
  }
  .contact i {
    font-size: 0.6rem;
  }
  .contact__img {
    visibility: hidden;
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
  /* main.scss */
  header {
    position: relative !important;
  }
  .logo {
    max-height: 1.75rem;
    margin-left: 1.5rem;
  }
  nav {
    visibility: hidden;
  }
  nav a {
    font-size: 0.7rem;
  }
  .burger-btn {
    visibility: visible;
  }
  footer {
    font-size: 0.6rem;
  }
  /* _about.scss */
  .about {
    min-height: 40rem;
  }
  .about__top {
    margin-left: -3.5em;
  }
  .about__top--slogan {
    margin-right: -1em;
    top: -5em;
    transform: scale(0.35);
  }
  .about__top--slogan__big-text {
    width: 5.5em;
  }
  .about__top--accordion__1 {
    width: 16em;
    font-size: 0.5rem;
  }
  .about__top--accordion__2 {
    width: 16em;
    font-size: 0.5rem;
  }
  .about__top--accordion__3 {
    width: 16em;
    font-size: 0.5rem;
  }
  .about__top--accordion__4 {
    width: 16em;
    font-size: 0.5rem;
  }
  .about__top--accordion__5 {
    width: 16em;
    font-size: 0.5rem;
  }
  .about__motto {
    font-size: 0.6rem;
    top: -22em;
    right: -4em;
  }
  .about__dropdown--1 {
    width: 7em;
    font-size: 0.6rem;
    top: -18.75em;
    right: -21em;
  }
  .about__dropdown--2 {
    width: 7em;
    font-size: 0.6rem;
    top: -12.5em;
    right: -15em;
  }
  .about__dropdown--3 {
    width: 7em;
    font-size: 0.6rem;
    top: -6.25em;
    right: -9em;
  }
  .about__dropdown--4 {
    width: 7em;
    font-size: 0.6rem;
    top: 0em;
    right: -3em;
  }
  .about__dropdown--5 {
    width: 7em;
    font-size: 0.6rem;
    top: 6.25em;
    right: 3em;
  }
  .about__drawing-1 img {
    width: 5em;
    height: 5em;
    bottom: 5em;
    right: 7em;
  }
  .about__drawing-2 img {
    width: 9em;
    height: 9em;
    bottom: 0em;
    left: -1em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 18em;
    height: 15em;
  }
  .projects__top--1 img {
    height: 13.63em;
  }
  .projects__top--1 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--1 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--2 {
    width: 18em;
    height: 15em;
  }
  .projects__top--2 img {
    height: 13.63em;
  }
  .projects__top--2 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--2 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--3 {
    width: 18em;
    height: 15em;
  }
  .projects__top--3 img {
    height: 13.63em;
  }
  .projects__top--3 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--3 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--4 {
    width: 18em;
    height: 15em;
  }
  .projects__top--4 img {
    height: 13.63em;
  }
  .projects__top--4 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--4 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--5 {
    width: 18em;
    height: 15em;
  }
  .projects__top--5 img {
    height: 13.63em;
  }
  .projects__top--5 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--5 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__bot {
    width: 22em;
  }
  .projects__bot--6 {
    height: 18em;
  }
  .projects__bot--6 video {
    width: 22em;
    height: 16em;
  }
  .projects__bot--6 h5 {
    font-size: 1.25rem;
    bottom: 12em;
    left: 11em;
  }
  .projects__bot--6 p {
    font-size: 0.8rem;
    top: 3em;
    left: 2.5em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.6rem;
  }
  .contact i {
    font-size: 0.6rem;
  }
  .contact__img {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* main.scss */
  .logo {
    max-height: 1.75rem;
    margin-left: 1.75rem;
  }
  nav a {
    font-size: 0.7rem;
  }
  .burger-btn {
    visibility: hidden;
  }
  footer {
    font-size: 0.7rem;
  }
  /* _about.scss */
  .about {
    min-height: 60rem;
  }
  .about__top--slogan {
    top: -2em;
    transform: scale(0.6);
  }
  .about__top--accordion__1 {
    width: 22em;
    font-size: 0.9rem;
  }
  .about__top--accordion__2 {
    width: 22em;
    font-size: 0.9rem;
  }
  .about__top--accordion__3 {
    width: 22em;
    font-size: 0.9rem;
  }
  .about__top--accordion__4 {
    width: 22em;
    font-size: 0.9rem;
  }
  .about__top--accordion__5 {
    width: 22em;
    font-size: 0.9rem;
  }
  .about__motto {
    font-size: 1rem;
    top: -14em;
    right: -1em;
  }
  .about__dropdown--1 {
    width: 9em;
    font-size: 0.9rem;
    top: -8.75em;
    right: -27em;
  }
  .about__dropdown--2 {
    width: 9em;
    font-size: 0.9rem;
    top: -2.5em;
    right: -19em;
  }
  .about__dropdown--3 {
    width: 9em;
    font-size: 0.9rem;
    top: 3.75em;
    right: -11em;
  }
  .about__dropdown--4 {
    width: 9em;
    font-size: 0.9rem;
    top: 10em;
    right: -3em;
  }
  .about__dropdown--5 {
    width: 9em;
    font-size: 0.9rem;
    top: 16.25em;
    right: 5em;
  }
  .about__drawing-1 img {
    width: 10em;
    height: 10em;
    top: 13em;
    left: -2em;
  }
  .about__drawing-2 img {
    width: 14em;
    height: 14em;
    top: 9.5em;
    left: 0em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 25em;
    height: 17em;
  }
  .projects__top--1 img {
    height: 15.63em;
  }
  .projects__top--1 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--1 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--2 {
    width: 25em;
    height: 17em;
  }
  .projects__top--2 img {
    height: 15.63em;
  }
  .projects__top--2 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--2 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--3 {
    width: 25em;
    height: 17em;
  }
  .projects__top--3 img {
    height: 15.63em;
  }
  .projects__top--3 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--3 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--4 {
    width: 25em;
    height: 17em;
  }
  .projects__top--4 img {
    height: 15.63em;
  }
  .projects__top--4 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--4 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__top--5 {
    width: 25em;
    height: 17em;
  }
  .projects__top--5 img {
    height: 15.63em;
  }
  .projects__top--5 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--5 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.75em;
  }
  .projects__bot {
    width: 40em;
  }
  .projects__bot--6 {
    height: 26em;
  }
  .projects__bot--6 video {
    width: 40em;
    height: 24em;
  }
  .projects__bot--6 h5 {
    font-size: 1.25rem;
    bottom: 12em;
    left: 11em;
  }
  .projects__bot--6 p {
    font-size: 0.8rem;
    top: 3em;
    left: 2.5em;
  }
  /* _contact.scss */
  .contact {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* main.scss */
  .logo {
    max-height: 2rem;
    margin-left: 3rem;
  }
  nav a {
    font-size: 0.8rem;
  }
  .burger-btn {
    visibility: hidden;
  }
  footer {
    font-size: 0.8rem;
  }
  /* _about.scss */
  .about {
    min-height: 76rem;
  }
  .about__top--slogan {
    transform: scale(0.8);
  }
  .about__top--accordion__1 {
    width: 26em;
    font-size: 1.1rem;
  }
  .about__top--accordion__2 {
    width: 26em;
    font-size: 1.1rem;
  }
  .about__top--accordion__3 {
    width: 26em;
    font-size: 1.1rem;
  }
  .about__top--accordion__4 {
    width: 26em;
    font-size: 1.1rem;
  }
  .about__top--accordion__5 {
    width: 26em;
    font-size: 1.1rem;
  }
  .about__motto {
    font-size: 1.25rem;
    top: -10.5em;
    right: 2em;
  }
  .about__dropdown--1 {
    width: 10em;
    font-size: 1rem;
    top: -5.75em;
    right: -32em;
  }
  .about__dropdown--2 {
    width: 10em;
    font-size: 1rem;
    top: 0.5em;
    right: -22em;
  }
  .about__dropdown--3 {
    width: 10em;
    font-size: 1rem;
    top: 6.75em;
    right: -12em;
  }
  .about__dropdown--4 {
    width: 10em;
    font-size: 1rem;
    top: 13em;
    right: -2em;
  }
  .about__dropdown--5 {
    width: 10em;
    font-size: 1rem;
    top: 19.25em;
    right: 8em;
  }
  .about__drawing-1 img {
    width: 12em;
    height: 12em;
    top: 18em;
    left: -1em;
  }
  .about__drawing-2 img {
    width: 18em;
    height: 18em;
    top: 12.5em;
    left: 2em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 25em;
    height: 17em;
  }
  .projects__top--1 img {
    height: 15.63em;
  }
  .projects__top--1 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--1 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.5em;
  }
  .projects__top--2 {
    width: 25em;
    height: 17em;
  }
  .projects__top--2 img {
    height: 15.63em;
  }
  .projects__top--2 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--2 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.5em;
  }
  .projects__top--3 {
    width: 25em;
    height: 17em;
  }
  .projects__top--3 img {
    height: 15.63em;
  }
  .projects__top--3 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--3 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.5em;
  }
  .projects__top--4 {
    width: 25em;
    height: 17em;
  }
  .projects__top--4 img {
    height: 15.63em;
  }
  .projects__top--4 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--4 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.5em;
  }
  .projects__top--5 {
    width: 25em;
    height: 17em;
  }
  .projects__top--5 img {
    height: 15.63em;
  }
  .projects__top--5 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9em;
  }
  .projects__top--5 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2.5em;
  }
  .projects__bot {
    width: 53em;
  }
  .projects__bot--6 {
    height: 30em;
  }
  .projects__bot--6 video {
    width: 53em;
    height: 28em;
  }
  .projects__bot--6 h5 {
    font-size: 1.5rem;
    bottom: 12em;
    left: 12em;
  }
  .projects__bot--6 p {
    font-size: 1rem;
    top: 2em;
    left: 2.5em;
  }
  /* _contact.scss */
  .contact {
    font-size: 1rem;
  }
  .contact i {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1440px) {
  /* main.scss */
  .logo {
    max-height: 2.25rem;
    margin-left: 3rem;
  }
  nav a {
    font-size: 0.9rem;
  }
  .burger-btn {
    visibility: hidden;
  }
  footer {
    font-size: 0.9rem;
  }
  /* _about.scss */
  .about {
    min-height: 100rem;
  }
  .about__top--accordion__1 {
    width: 35em;
    font-size: 1.1rem;
  }
  .about__top--accordion__2 {
    width: 35em;
    font-size: 1.1rem;
  }
  .about__top--accordion__3 {
    width: 35em;
    font-size: 1.1rem;
  }
  .about__top--accordion__4 {
    width: 35em;
    font-size: 1.1rem;
  }
  .about__top--accordion__5 {
    width: 35em;
    font-size: 1.1rem;
  }
  .about__motto {
    font-size: 1.5rem;
    top: -10em;
    right: -1em;
  }
  .about__dropdown--1 {
    width: 12em;
    font-size: 1.25rem;
    top: -8.75em;
    right: -46.5em;
  }
  .about__dropdown--2 {
    width: 12em;
    font-size: 1.25rem;
    top: -2.5em;
    right: -34em;
  }
  .about__dropdown--3 {
    width: 12em;
    font-size: 1.25rem;
    top: 3.75em;
    right: -21.5em;
  }
  .about__dropdown--4 {
    width: 12em;
    font-size: 1.25rem;
    top: 10em;
    right: -9em;
  }
  .about__dropdown--5 {
    width: 12em;
    font-size: 1.25rem;
    top: 16.25em;
    right: 3.5em;
  }
  .about__drawing-1 img {
    width: 25em;
    height: 25em;
    top: 25em;
    left: -10em;
  }
  .about__drawing-2 img {
    width: 33em;
    height: 33em;
    top: 17em;
    left: -2em;
  }
  /* _projects.scss */
  .projects__top--1 {
    width: 26.25em;
    height: 17em;
  }
  .projects__top--1 img {
    height: 15.63em;
  }
  .projects__top--1 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9.5em;
  }
  .projects__top--1 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2em;
  }
  .projects__top--2 {
    width: 26.25em;
    height: 17em;
  }
  .projects__top--2 img {
    height: 15.63em;
  }
  .projects__top--2 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9.5em;
  }
  .projects__top--2 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2em;
  }
  .projects__top--3 {
    width: 26.25em;
    height: 17em;
  }
  .projects__top--3 img {
    height: 15.63em;
  }
  .projects__top--3 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9.5em;
  }
  .projects__top--3 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2em;
  }
  .projects__top--4 {
    width: 26.25em;
    height: 17em;
  }
  .projects__top--4 img {
    height: 15.63em;
  }
  .projects__top--4 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9.5em;
  }
  .projects__top--4 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2em;
  }
  .projects__top--5 {
    width: 26.25em;
    height: 17em;
  }
  .projects__top--5 img {
    height: 15.63em;
  }
  .projects__top--5 h5 {
    font-size: 0.9rem;
    bottom: 8.5em;
    left: 9.5em;
  }
  .projects__top--5 p {
    font-size: 0.7rem;
    top: 4em;
    right: 2em;
  }
  .projects__bot {
    width: 53em;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .projects__bot--6 {
    height: 30em;
  }
  .projects__bot--6 video {
    width: 53em;
    height: 28em;
  }
  .projects__bot--6 h5 {
    font-size: 1.5rem;
    bottom: 12em;
    left: 12em;
  }
  .projects__bot--6 p {
    font-size: 1rem;
    top: 2em;
    left: 2.5em;
  }
  /* _contact.scss */
  .contact {
    font-size: 1rem;
  }
  .contact i {
    font-size: 0.9rem;
  }
}
body {
  font-family: Anybody, Verdana, Tahoma, sans-serif;
}
body .bkgd {
  background: linear-gradient(to top, white, rgba(180, 50, 50, 0.2)), url(../img/bkgd/eng-draw.png);
  background-size: contain;
  filter: grayscale(20%);
  opacity: 0.3;
  z-index: -1;
  position: fixed;
  inset: 0;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0.8rem;
}
body header .logo {
  max-width: 30%;
}
body header nav {
  display: flex;
  gap: 2.5rem;
  margin-right: 3rem;
}
body header nav a {
  color: rgb(45, 45, 45);
  transition: all 0.2s ease-in-out;
}
body header nav a:hover {
  color: rgb(180, 50, 50);
}
body header nav a:active {
  opacity: 0.5;
}
body header nav a i {
  margin-right: 0.3em;
}
body header nav.js-open-nav {
  display: flex;
  flex-flow: column wrap;
  gap: 0.7rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  position: fixed;
  top: 0.5rem;
  right: 0.75rem;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
body header .burger-btn {
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(45, 45, 45);
  padding: 0.2rem;
  position: fixed;
  top: 0.85rem;
  right: 1.8rem;
}
body header.js-header-bkgd {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.3rem;
  top: 0;
  transition: all 0.2s ease-in-out;
}
body footer {
  text-align: center;
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 0.5rem;
  margin-top: 8em;
  position: absolute;
  right: 0;
  left: 0;
}/*# sourceMappingURL=main.css.map */