.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 3em;

    &__top {
        display: flex;
        justify-content: center;
        gap: 8em;
        width: 100%;
        height: 16.5em;
        position: relative;

        &--slogan {
            display: flex;
            flex-direction: column; 
            // gap: 0.5em;
            max-width: 35%;
            position: relative;
            // inset: 3rem;
    
            &__small-text {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                font-size: 3rem;
                color: $secondary-color;
                padding-left: 0;
                cursor: pointer;

                &:hover { @include gradient-text(30%); }
                @include transition-ease;

                li:nth-child(2) {
                    margin-top: -0.3em;
                    margin-bottom: -0.1em;
                }
            }
    
            &__run-man, &__flag {
                font-size: 3.5em;
                color: $secondary-color;
                position: absolute;
                top: 3.6em;
            }

            &__run-man { left: 0.2em; }
            &__flag { left: 7.9em; }
    
            &__line {
                width: 30em;
                min-height: 0.5em;
                background-color: $secondary-color;
                margin-top: 3em;
                position: relative;
    
                &--red::after {
                    width: 10%;
                    height: 100%;
                    content: "";
                    background-color: $accent-color;
                    position: absolute;
                    right: 0;
                }
            }
    
            &__big-text {
                width: 6em;
                font-size: 6rem;
                color: $secondary-color;
                cursor: pointer;

                &:hover { @include gradient-text(200%); }
                @include transition-ease;
            }
        }

        &--accordion {
            position: relative;
            @for $i from 1 through 5 {
                &__#{$i} {
                    color: $secondary-color;
                    padding: 1em;
                    margin-bottom: 0.2em;
                    cursor: pointer;
                    @include gradient-rect($i);

                    &:hover { filter: grayscale(20%) saturate(50%); }
                    @include transition-ease;
                    
                    i {
                        color: $primary-color;
                        margin: 0 0.75em;
                    }
                }
            }

            .js-open-accordion {
                $accordion-content: (
                    "Let us become your supplier of Industrial Controls and Special Purpose Equipment!",
            
                    "Not familiar with our company? First contact with us is online? We would be pleased to hear from you! Let us know your needs and questions, we are more than happy to help.",
            
                    "We can supply you with turn-key equipment or modify existing equipment, based on your needs and preferences.",
            
                    "Service is a significant part of our business. We provide service for most common brands of PLC's, CNC's, and hard-wired equipment.",
            
                    "We also have an in-house machine shop, which allows us to manufacture spare/consumable parts quickly, while maintaining high quality at low prices."
                );
            
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) { padding-bottom: 1.5em; }
                    &:nth-child(#{$i}):hover { filter: none; }
                    &:nth-child(#{$i})::after { content: nth($accordion-content, $i); }
                }
            }
        }
    }

    &__motto {
        width: 16em;
        text-align: right;
        color: $secondary-color;
        position: relative;

        span {
            background: linear-gradient(90deg, $accent-color, $primary-color) 
                no-repeat left bottom;
            background-size: 0% 5px;
            cursor: pointer;

            &:hover { background-size: 100% 5px; }
            @include transition-ease;
        }
    }

    &__dropdown {
        position: relative;
        @for $i from 1 through 5 {
            &--#{$i} {
                color: $secondary-color;
                padding: 0.8em;
                z-index: 1;
                position: absolute;
                cursor: pointer;
                @include gradient-rect($i);

                &:hover { filter: grayscale(20%) saturate(50%); }
                @include transition-ease;

                i {
                    color: $primary-color;
                    margin: 0 0.75em;
                }
            }
        }

        .js-open-dropdown {
            $dropdown-content: (
                "If you are in the market to have equipment fabricated, or controls retrofitted on existing equipment, it would be our pleasure to assist you with your requirements.",
        
                "Our activities can be summarized by a plaque found at the train station in Kleinburg, Ontario. It has been accepted as the company motto.",
        
                "Our efforts in the fabrication of dedicated industrial equipment have increased our scope of customers to include almost all industrial sectors.",
        
                "Over the years, our customer base evolved to industries ranging from automotive to pharmaceutical.",
        
                "Milestone Automation Solutions Inc. was incorporated in 2000."
            );
        
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    width: 13em;
                    padding-bottom: 1.5em;
                    z-index: 5;
                }
        
                &:nth-child(#{$i}):hover { filter: none; }
                &:nth-child(#{$i})::after { content: nth($dropdown-content, $i); }
            }
        }
    }
        
    &__drawing-1 img, &__drawing-2 img {
        opacity: 0.7;
        position: relative;
        
        &:hover { opacity: 0.5; }
        @include transition-ease;
    }
}

