$primary-color: white;
$secondary-color: rgb(45, 45, 45);
$accent-color: rgb(180, 50, 50);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}

*:focus-visible {
    outline: 2px solid $accent-color;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

a { 
    text-decoration: none; 
    color: inherit;
}

@mixin gradient-text($background-size) { 
    background-image: 
        linear-gradient(90deg, $accent-color, $primary-color);
    background-size: $background-size;
    background-clip: text;
    color: transparent;
}

@mixin gradient-rect($i) { 
    $alpha: 0.95 - (0.2 * ($i - 1));
    background-color: rgba($accent-color, $alpha);
}

@mixin transition-ease {
    transition: all 0.2s ease-in-out;
}

$scaling-factors: (
    xs: 0.5em,
    sm: 0.6em,
    md: 0.7em,
    lg: 0.8em,
    xl: 0.9em
);

@mixin responsive-style($factor) { 
    /* main.scss */
    .logo { max-height: 3 * $factor; }
    nav a { font-size: $factor; }
    footer { font-size: $factor; }

    /* _about.scss */
    .about { min-height: 90 * $factor; }

    @for $i from 1 through 5 {
        .about__top--accordion__#{$i} { 
            width: 30 * $factor;
            font-size: 1.15 * $factor;
        }
    }

    .about__motto { font-size: 1 * $factor; }

    @for $i from 1 through 5 {
        .about__dropdown--#{$i} { 
            width: 16 * $factor;
            font-size: 1.15 * $factor;
        }
    }

    .about__drawing-1 { 
        width: 15 * $factor;
        height: 15 * $factor;
    }

    .about__drawing-2 { 
        width: 25 * $factor;
        height: 25 * $factor;
    }

    /* _projects.scss */
    @for $i from 1 through 5 {
        .projects__top--#{$i} {    
            width: 20 * $factor;
            height: 17 * $factor;
            img { height: 15 * $factor; }
            h5 { 
                font-size: 1.8 * $factor;
                bottom: 8.5 * $factor;
                left: 9 * $factor;
            }
        
            p {
                font-size: 1.4 * $factor;
                top: 4 * $factor;
                right: 2.75 * $factor;
            }
        }
    }

    .projects__bot { 
        width: 32 * $factor;

        &--6 {
            height: 22 * $factor;

            video {
                width: 32 * $factor;
                height: 18 * $factor;
            }
        }

        h5 { 
            font-size: 2.5 * $factor;
            bottom: 12 * $factor;
            left: 11 * $factor;
        }

        p { 
            font-size: 1.6 * $factor;
            top: 3 * $factor;
            left: 2.5 * $factor;
        }
    }

    /* _contact.scss */
    .contact { font-size: 1 * $factor; }
    .contact i { font-size: 2 * $factor; }

}

@mixin media-xs {
    @media only screen and (max-width: 425px) {
        @content;
    }
}

@mixin media-sm {
    @media only screen and (min-width: 426px) and (max-width: 767px) {
        @content;
    }
}

@mixin media-md {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin media-lg {
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        @content;
    }
}

@mixin media-xl {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

