$primary-color: white;
$secondary-color: rgb(45, 45, 45);
$accent-color: rgb(180, 50, 50);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

a { 
    text-decoration: none; 
    color: inherit;
}

@mixin transition-ease {
    transition: all 0.2s ease-in-out;
}

@mixin media-xs {
    @media only screen and (max-width: 425px) {
        @content;
    }
}

@mixin media-sm {
    @media only screen and (min-width: 426px) and (max-width: 767px) {
        @content;
    }
}

@mixin media-md {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin media-lg {
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        @content;
    }
}

@mixin media-xl {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

