@include media-xs {
    /* main.scss */ 
    body { left: 2.5em; }
    header { position: relative !important; }
    .logo { 
        position: absolute;
        top: 0;
        left: -3.75em;
    }
    nav { visibility: hidden; }
    .burger-btn { visibility: visible; }
    footer { font-size: 0.7rem !important; bottom: -29em !important; }

    /* _about.scss */ 
    .about { margin-top: 2em; }
    .about__top { gap: 15em; }
    .about__top--slogan { 
        top: -125px;
        left: 30px;
        transform: scale(0.4);

        &__running-man {
            font-size: 3.5rem;
            top: 200px;
        }

        &__flag {
            font-size: 3.5rem;
            top: 200px;
            left: 440px;
        }

        &__big-text { width: 5.5em; }
    }

    .about__top--accordion { 
        top: 0;
        right: 5em;

        @for $i from 1 through 5 {
            &__#{$i} { 
                width: 18em;
                font-size: 0.6rem;
            }
        }
    }

    .about__bot--motto {
        font-size: 0.7rem;
        top: -85px;
        right: 115px;
    }

    .about__bot--dropdown {
        @for $i from 1 through 5 {

            &__#{$i} { 
                $top: -280px + (80px * $i);
                $right: -135px + (50px * $i);
                top: $top;
                right: $right;
            }
        }
    }

    .about__bot--drawing-2 {
        width: 170px;
        height: 170px;
        top: 270px;
        left: 120px;
    }

    /* _projects.scss */
    .projects {
        height: 1500px;
        top: 28em; 
    }
    .projects__top { 
        gap: 20px;

        @for $i from 1 through 5 {
            &--#{$i} {
                width: 250px;
                height: 225px;

                // h5 { 

                // }
            }
        }
    }

    .projects__bot {
        width: 350px;
        margin-top: 2em;
        margin-bottom: 25em;

        &--6 {
            height: 250px;

            video {
                width: 350px;
                height: 215px;
            }
        }
    }
    
    /* _contact.scss */
    .contact {
        gap: 1em;
        bottom: -17em;
        left: 1em;
        transform: scale(0.7);
    }
}

@include media-sm {
    /* main.scss */ 
    body { 
        left: 2em;
    }
    .logo { 
        left: -2.25em;

    }
    nav { visibility: hidden; }
    .burger-btn { margin-right: -0.5em; visibility: visible; }
    footer { 
        margin-bottom: -4em;
        bottom: -26em !important;
    }

    /* _about.scss */ 
    .about { top: 1em; }
    .about__top { gap: 15em; }
    .about__top--slogan { 
        top: -110px;
        left: 2em;
        transform: scale(0.45);

        &__running-man {
            font-size: 3.5rem;
            top: 200px;
        }

        &__flag {
            font-size: 3.5rem;
            top: 200px;
            left: 440px;
        }

        &__big-text { width: 5.5em; }
    }

    .about__top--accordion { 
        top: 0;
        right: 5em;

        @for $i from 1 through 5 {
            &__#{$i} { 
                width: 18em;
                font-size: 0.6rem;
            }
        }
    }

    .about__bot--motto {
        font-size: 0.8rem;
        top: -60px;
        right: 105px;
    }

    .about__bot--dropdown {
        @for $i from 1 through 5 {

            &__#{$i} { 
                $top: -280px + (80px * $i);
                $right: -160px + (60px * $i);
                top: $top;
                right: $right;
            }
        }
    }

    .about__bot--drawing-2 {
        width: 200px;
        height: 200px;
        top: 275px;
        left: 110px;
    }

    /* _projects.scss */
    .projects {
        height: 1000px;
        top: 30em; 
        margin-top: 34em;
    }
    .projects__top { 
        gap: 20px;

        @for $i from 1 through 5 {
            &--#{$i} {
                width: 250px;
                height: 225px;
            }
        }
    }

    .projects__bot {
        width: 350px;
        margin-top: 2em;
        margin-bottom: 62em;

        &--6 {
            height: 250px;

            video {
                width: 350px;
                height: 215px;
            }
        }
    }
    
    /* _contact.scss */
    .contact {
        gap: 1em;
        left: 1em;

        img { visibility: hidden; }
    }
}

@include media-md {
    /* main.scss */ 
    body { 
        left: 0px;
    }
    .logo { 
        left: 0em;
    }
    nav { margin-right: 2em !important; visibility: visible; }
    nav a { font-size: 0.7rem; }
    .burger-btn { visibility: hidden; }
    footer { margin-bottom: -50em; bottom: 50em !important; }

    /* _about.scss */ 
    .about { top: 3em; }
    .about__top { gap: 13em; }
    .about__top--slogan { 
        top: -90px;
        left: 30px;
        transform: scale(0.6);

        &__running-man {
            font-size: 3.5rem;
            top: 200px;
        }

        &__flag {
            font-size: 3.5rem;
            top: 200px;
            left: 440px;
        }

        &__big-text { width: 5.5em; }
    }

    .about__top--accordion { 
        top: 0;
        right: 5em;

        @for $i from 1 through 5 {
            &__#{$i} { 
                width: 28em;
                font-size: 0.8rem;
            }
        }
    }

    .about__bot--motto {
        font-size: 1rem;
        top: -20px;
        right: 200px !important;
    }

    .about__bot--dropdown {
        @for $i from 1 through 5 {

            &__#{$i} { 
                $top: -280px + (80px * $i);
                $right: -330px + (120px * $i);
                top: $top;
                right: $right;
            }
        }
    }

    .about__bot--drawing-2 {
        width: 250px;
        height: 250px;
        top: 280px;
        left: 210px;
    }

    /* _projects.scss */
    .projects {
        top: 25em; 
        margin-top: 40em;
        // margin-bottom: -50em;
    }
    .projects__top { 
        gap: 20px;

        @for $i from 1 through 5 {
            &--#{$i} {
                width: 250px;
                height: 225px;
            }
        }
    }

    .projects__bot {
        width: 550px;
        margin-top: 3em;
        margin-bottom: 80em !important;

        &--6 {
            height: 385px;

            video {
                width: 550px;
                height: 350px;
            }
        }
    }
    
    /* _contact.scss */
    .contact {
        gap: 1em;
        font-size: 0.8rem;
        margin-left: -1em;
        // margin-bottom: -35em !important;
        // bottom: -35em;

        img { visibility: visible; }
    }
}

@include media-lg {
    /* main.scss */ 
    .logo { width: 8.5rem; left: 1em; }
    nav { visibility: visible; }
    nav a { font-size: 0.75rem !important; }
    .burger-btn { visibility: hidden; }
    footer { font-size: 0.7rem !important; bottom: -40em !important; }

    /* _about.scss */ 
    .about { top: 3em; }
    .about__top { gap: 8em; }
    .about__top--slogan { 
        top: -90px;
        left: 30px;
        transform: scale(0.6);

        &__running-man {
            font-size: 3.5rem;
            top: 200px;
        }

        &__flag {
            font-size: 3.5rem;
            top: 200px;
            left: 440px;
        }

        &__big-text { width: 5.5em; }
    }

    .about__top--accordion { 
        top: 0;
        right: 5em;

        @for $i from 1 through 5 {
            &__#{$i} { 
                width: 35em;
                font-size: 0.8rem;
            }
        }
    }

    .about__bot--motto {
        font-size: 1rem;
        top: -20px;
        right: 260px;
    }

    .about__bot--dropdown {
        @for $i from 1 through 5 {

            &__#{$i} { 
                $top: -300px + (80px * $i);
                $right: -525px + (180px * $i);
                top: $top;
                right: $right;
            }
        }
    }

    .about__bot--drawing-2 {
        width: 300px;
        height: 300px;
        top: 260px;
        left: 250px;
    }

    /* _projects.scss */
    .projects {
        max-height: 1000px;
        top: 35em;
    }
    .projects__top { 
        gap: 40px;

        @for $i from 1 through 5 {
            &--#{$i} {
                width: 350px;
                height: 225px;
            }
        }
    }

    .projects__bot {
        width: 850px;
        margin-top: 3em;
        margin-bottom: 25em;

        &--6 {
            height: 485px;

            video {
                width: 850px;
                height: 450px;
            }
        }
    }
    
    /* _contact.scss */
    .contact {
        gap: 1em;
        bottom: -25em;

        img { visibility: visible; }
    }
}

@include media-xl {
    /* main.scss */ 
    nav a { font-size: 0.9rem; }
    .burger-btn { visibility: hidden; }
    // footer { bottom: -35em; }

    /* _about.scss */ 
    .about__top--slogan { 
        top: -50px;
        left: 50px;
        transform: scale(0.8);

        &__running-man {
            font-size: 3.5rem;
            top: 200px;
        }

        &__flag {
            font-size: 3.5rem;
            top: 200px;
            left: 440px;
        }

        &__big-text { width: 5.5em; }
    }

    .about__top--accordion { 
        top: 0;
        right: 5em;

        @for $i from 1 through 5 {
            &__#{$i} { 
                width: 35em;
                font-size: 1rem;
            }
        }
    }

    .about__bot--motto {
        width: 17em;
        font-size: 1.5rem;
        top: 3.2em;
        right: 13em;
    }

    .about__bot--dropdown {
        @for $i from 1 through 5 {
            &__#{$i} { 
                width: 11em;
                font-size: 1rem;
                $top: -18.75em + (6.25em * $i);
                $right: -35em + (12.5em * $i);
                top: $top;
                right: $right;
            }
        }
    }

    .about__bot--drawing-1 {

    }

    .about__bot--drawing-2 {
        width: 300px;
        height: 300px;
        top: 260px;
        left: 250px;
    }

    /* _projects.scss */
    .projects {
        // max-height: 1000px;
        // margin-top: 5em;
        margin-bottom: 5em;
        top: 40em;
    }
    .projects__top { 
        gap: 40px;

        @for $i from 1 through 5 {
            &--#{$i} {
                // width: 450px;
                // height: 225px;
                flex: 0 0 calc(25% - 10px);
            }
        }
    }

    .projects__bot {
        width: 850px;
        margin-top: 5em;
        // margin-bottom: 45em;

        &--6 {
            height: 485px;

            video {
                width: 850px;
                height: 450px;
            }
        }
    }
    
    /* _contact.scss */
    .contact {
        gap: 1em;
        // bottom: -25em;

        img { visibility: visible; }
    }
}
