.contact {
  display: flex;  
  flex-direction: column;
  align-items: center;
  color: $secondary-color;
  padding: 0.75rem; 
  position: relative;
  top: 4em;

  &__cta {
    width: 22em;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 1em;

    &:hover { @include gradient-text; }
    @include transition-ease;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 5em;
    margin-right: 2.25em;

    &--left, &--right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      gap: 1.25em;
      position: relative;    

      &__phone, &__email, &__linkedin, &__address {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 1em;
        line-height: 1.25em;
        cursor: pointer;

        i { margin-right: 0.75em; }
      }

      &__email, &__linkedin, &__address {
        &:hover { color: $accent-color; } 
        &:active { opacity: 0.5; }
        @include transition-ease;
      }

      &__phone {
        i {
          position: absolute;
          left: 0;
        }

        &--wrap {
          display: flex;
          flex-direction: column;
          position: relative;
          left: 3.5em;

          &:hover + i, a:hover { color: $accent-color; }
          &:active + i, a:active { opacity: 0.5; }
          a, & + i { @include transition-ease; }
        }
      }
    }
  
    &--img { 
      border: 1.6px double $accent-color; 
      @include light-hover;
      @include transition-ease;
    }
  }
}