@include media-xs {
  @include responsive-style(map-get($scaling-factors, xs));

  /* main.scss */
  header { position: relative !important; }
  nav { visibility: hidden; }
  .burger-btn { visibility: visible; }

  /* _about.scss */
  .about { 
    margin-top: -0.5rem; 
    margin-bottom: 2rem;
  }
  .about__top { margin-left: -3em; }
  .about__top--slogan {
    margin-right: -0.5em;
    top: -5.75em;
    transform: scale(0.3);
  }

  .about__motto {
    font-size: 0.55rem;
    right: 3em;
    bottom: 18em;
  }

  .about__dropdown {
    top: 1em;
    right: 2em;
  }

  .about__dropdown--pull-men { top: 2.5em !important; }
  .about__dropdown--reach-man { top: -2.8em !important; } 

  .about__drawing-1 img {
    top: 12em;
    right: 9em;
  }

  .about__drawing-2 img {
    bottom: 0.75em;
    left: 6em;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i}--indic button { top: 1.2em !important; }
    .projects__#{$i}--prev-btn { left: -3em; }
    .projects__#{$i}--next-btn { right: -3em; }
  }

  /* _contact.scss */
  .contact__cta { margin-bottom: 2em; }
  .contact__info { gap: 1em; }
  .contact__info--img { visibility: hidden; }
}

@include media-sm {
  @include responsive-style(map-get($scaling-factors, sm));

  /* main.scss */
  header { position: relative !important; }
  nav { visibility: hidden; }
  .burger-btn { visibility: visible; }

  /* _about.scss */
  .about__top { margin-left: -2.5em; }
  .about__top--slogan {
    top: -4em;
    transform: scale(0.4);
  }

  .about__motto { display: none; }

  .about__dropdown {
    top: 20em;
    right: 15em;
  }

  .about__drawing-1 img {
    bottom: 12em;
    right: 1em;
  }

  .about__drawing-2 img {
    top: 3.5em;
    left: 3em;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i} button { top: 1.1em !important; }
    .projects__#{$i}--prev-btn { left: -3em; }
    .projects__#{$i}--next-btn { right: -3em; }
  }
  
  /* _contact.scss */
  .contact__info { 
    gap: 2em;
    margin-top: 1.5em; 
  }
  .contact__info--img { visibility: hidden; }
}

@include media-md {
  @include responsive-style(map-get($scaling-factors, md));

  /* main.scss */
  header { position: relative !important; }
  nav { visibility: hidden; }
  .burger-btn { visibility: visible; }  

  /* _about.scss */
  .about__top { margin-left: -3em; }
  .about__top--slogan {
    top: -3em;
    transform: scale(0.5);
  }

  .about__top--slogan__big-text { visibility: visible !important; }

  .about__motto {
    top: -15em;
    right: -3em;
  }

  .about__drawing-1 img {
    top: 12em;
    left: -2em;
  }

  .about__drawing-2 img {
    top: 7.5em;
    left: 0em;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i}--indic button { top: 0.9em !important; } 
    .projects__#{$i}--prev-btn { left: -4em; }
    .projects__#{$i}--next-btn { right: -4em; } 
  }

  .contact__info { 
    margin-top: 1.5em; 
  }
  .contact__info--img { border: none; }
}

@include media-lg {
  @include responsive-style(map-get($scaling-factors, lg));

  /* main.scss */
  .burger-btn { visibility: hidden; }

  /* _about.scss */
  .about__top { 
    gap: 9em; 
    margin-left: -3em;
  }
  .about__top--slogan {
    top: -3em;
    transform: scale(0.65);
  }

  .about__top--slogan__big-text { visibility: visible !important; }

  .about__motto {
    top: -14.5em;
    right: -2em;
  }

  .about__drawing-1 img {
    top: 16em;
    left: -2em;
  }

  .about__drawing-2 img {
    top: 11em;
    left: 0em;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i} h5, p { visibility: hidden !important; } 
  }
}

@include media-xl {
  @include responsive-style(map-get($scaling-factors, xl));

  /* main.scss */
  .burger-btn { visibility: hidden; }

  /* _about.scss */
  .about__top--slogan { 
    top: -1.5em; 
    transform: scale(0.75); 
  }

  .about__dropdown { right: 4em; }

  .about__motto {
    top: -13em;
    right: 0em;
  }

  .about__drawing-1 img {
    top: 18em;
    left: -1em;
  }

  .about__drawing-2 img {
    top: 13em;
    left: 2em;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i} h5 { top: 4.5em !important; } 
    .projects__#{$i} p { top: 0.75em !important; } 
  }
}

@include media-xxl {
  @include responsive-style(map-get($scaling-factors, xxl));

  /* main.scss */
  .burger-btn { visibility: hidden; }

  /* _about.scss */
  .about__top--slogan { transform: scale(0.9); }

  .about__motto {
    right: 4em;
    bottom: 10em;
  }

  .about__dropdown--reach-man {
    top: -4.65em !important;
  }

  .about__drawing-1 img {
    top: 23em;
    left: 4em;
  }

  .about__drawing-2 img {
    top: 17em;
    left: 7em;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i} h5 { top: 3.15em !important; } 
    .projects__#{$i} p { top: -0.75em !important; } 
  }
}