$primary-color: white;
$secondary-color: rgb(45, 45, 45);
$accent-color: rgb(180, 50, 50);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

*:focus-visible { outline: 2px solid $accent-color; }

::selection { 
  background-color: $accent-color; 
  color: $primary-color;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a { 
  text-decoration: none; 
  color: inherit;
}

@keyframes bg-animation {
  0% { background-position: bottom; }
  100% { background-position: top; }
}

@mixin gradient-text { 
  background-image: 
      linear-gradient(90deg, $accent-color, $primary-color);
  background-size: 200%;
  background-clip: text;
  color: transparent;
}

@mixin gradient-rect($i) { 
  $alpha: 0.95 - (0.2 * ($i - 1));
  background-color: rgba($accent-color, $alpha);
}

@mixin light-hover {
  &:hover { opacity: 0.85; } 
}

@mixin transition-ease {
  transition: all 0.2s ease-in-out;
}

$scaling-factors: (
  xs: 0.45em,
  sm: 0.5em,
  md: 0.6em,
  lg: 0.7em,
  xl: 0.8em,
  xxl: 0.9em
);

@mixin responsive-style($factor) { 
  /* main.scss */
  .logo { 
    max-height: 2.75 * $factor; 
    margin-left: 3.33 * $factor;
  }
  nav a { font-size: $factor; }
  footer { font-size: $factor; }

  /* _about.scss */
  .about { 
    min-height: 90 * $factor; 
    margin-bottom: 2 * $factor;
  }
  .about__top { gap: 14 * $factor; }
  .about__top--slogan__small-text { width: 4 * $factor; }

  @for $i from 1 through 5 {
    .about__top--accordion__#{$i} { 
      width: 36 * $factor;
      font-size: 1.15 * $factor;
    }
  }

  .about__motto { font-size: 1.45 * $factor; }

  @for $i from 1 through 5 {
    .about__dropdown--#{$i} { 
      width: 17 * $factor;
      font-size: 1.1 * $factor;
      $top: (-20 * $factor) + ((10 * $factor) * $i);
      $right: (-60 * $factor) + ((14 * $factor) * $i);
      top: $top;
      right: $right;
    }
  }

  .about__dropdown--pull-men,
  .about__dropdown--fall-man,
  .about__dropdown--reach-man { font-size: 2.8 * $factor; }

  .about__dropdown--pull-men {
    top: 6.2 * $factor;
    right: 1 * $factor;
  }

  .about__dropdown--fall-man {
    top: 4.2 * $factor;
    left: 6.5 * $factor;
  }

  .about__dropdown--reach-man {
    top: -5.75 * $factor;
    left: 15 * $factor;
  } 

  .about__drawing-1 { 
    width: 15 * $factor;
    height: 15 * $factor;
  }

  .about__drawing-2 { 
    width: 23 * $factor;
    height: 23 * $factor;
  }

  /* _projects.scss */
  @for $i from 1 through 5 {
    .projects__#{$i} {    
      width: 35 * $factor;
      height: 22.5 * $factor;
      .projects__#{$i}--indic button { 
        width: 3 * $factor;
        height: 0.25 * $factor;
        top: 1 * $factor; 
      }
      img, video { height: 20 * $factor; }
      h5 { 
        font-size: 1.8 * $factor;
        right: 18 * $factor;
      }
  
      p {
        width: 15 * $factor;
        font-size: 1.2 * $factor;
        left: 36 * $factor;
      }

      &--prev-btn, &--next-btn { font-size: 1.5 * $factor; }
      &--prev-btn { left: -4 * $factor; }
      &--next-btn { right: -4 * $factor; }
    }
  }

  /* _contact.scss */
  .contact { font-size: 1 * $factor; }
  .contact i { font-size: 2 * $factor; }
  .contact__cta { font-size: 3 * $factor; }
  .contact__info--img img { width: 9 * $factor; }
  .contact__info--left__email a { margin-left: -0.66 * $factor; }
}

@mixin media-xs {
  @media only screen and (max-width: 414px) {
    @content;
  }
}

@mixin media-sm {
  @media only screen and (min-width: 415px) and (max-width: 595px) {
    @content;
  }
}

@mixin media-md {
  @media only screen and (min-width: 596px) and (max-width: 767px) {
    @content;
  }
}

@mixin media-lg {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin media-xl {
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin media-xxl {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}