.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;

  @for $i from 1 through 5 {
    &__#{$i} {
      position: relative;
      @include gradient-rect($i);
      @include transition-ease;

      &--indic button { position: relative; }

      img { object-fit: cover; }
      video { 
        object-fit: fill; 
        width: 100%;
        height: 100%;
      }

      h5, p { 
        color: $secondary-color;
        position: relative;
        cursor: pointer;

        &:hover { @include gradient-text; }
        @include transition-ease;
      }

      h5 { width: max-content; }

      &--prev-btn, &--next-btn { 
        color: $secondary-color !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover { color: $accent-color !important; }
        &:active { opacity: 0.5; }
        @include transition-ease;
      }
    }
  }
}

// &__bot {
//   position: relative;
//   top: 3em;

//   &--6 {
//     background-color: rgba($primary-color, 0.95);

//     video { object-fit: fill; }

//     h5 {
//       color: $secondary-color;
//       // padding: 0.3em;
//       position: relative;
//     }

//     p {
//       width: max-content;
//       color: $secondary-color;
//       // padding: 0.3em;
//       position: relative;
//     }

//     // button { bottom: 1em; }

//     &__indic button {
//       background-color: $secondary-color !important;
//       position: relative;
//       top: 0.8em;
//     }
//   }
// }